@import "tailwindcss";

:root {
    --primary-color: #030A1B;
    --text-color: #EBFAFF;
    --secondary-color: #007EAE;
    --other-element-color: #0b1225;
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
}

.footer-bg {
  background: var(--footer-gradient);
}


@layer utilities {
  .home-wrapper {
    @apply text-gray-400 flex-col gap-4 md:gap-10 items-center sm:items-start;
  }
}

.page-container {
  @apply w-full flex justify-center items-start;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: transparent transparent;
}

  .hero-animate {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
    animation: fadeUp 0.9s ease-out forwards;
  }

  @keyframes fadeUp {
    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }